
.item-name{
     margin: 0;
     color: #222F3E;
      font-weight: 500;
      font-size:'14px';
      font-family:'Poppins' 
}


.item-values{
    color: #222F3E;
    font-weight: 400;
    font-size: 14px;
    text-align: start;

}
 

.add-item label{
    margin-bottom: 8px;
    font-size: 14px;
font-weight: 400;
}


.manageLocation {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

.animated-select {
    animation: slideFadeIn 0.8s ease-in-out forwards;
    opacity: 0;
}

@keyframes slideFadeIn {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
