.dashboard-cards {
    /* display: flex;
    justify-content: space-between; */
    gap: 20px;

}

.filter-btn {
    /* background-color: transparent; */
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.filter-btn img {
    width: 24px;
    height: 24px;
}

.table-container {
    padding: 20px;
}

.student-table {
    width: 100%;
    border-collapse: collapse;
}

.student-table th,
.student-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #f0f0f0;
}

.student-table th {
    background-color: #f9f9f9;
}

.student-table tr:hover {
    background-color: #f1f1f1;
}

.student-table td {
    font-size: 14px;
}

.active-status {
    background-color: #7F56DA;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.inactive-status {
    background-color: #d3d3d3;
    color: #555;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.action-btn {
    background-color: #7F56DA;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.action-btn:hover {
    background-color: #5a3f9f;
}


.dashboard-p {
    color: #6B778C !important;
    font-size: 20px !important;
    font-style: oblique;
    margin-top: 10px;
    margin-bottom: 5px;
}

.dashboard-product {
    color: #3730A3;
    font-weight: 600;
    font-size: 18px;
    margin-left: 30px;
}

.export-excel {
    color: #3730A3;
    border: 1px solid #C7D2FE;
    background: #EEF2FF;
    padding: 5px 10px;
    border-radius: 9px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
}

.stockdata-dashboard th {
    font-weight: 600;
    color: #4B5563;
    font-size: 14px;

}

.stockdata-dashboard td {
    color: #000000;
    font-size: 14px;

}

.stockdata-dashboard .badge {
    padding: 5px 10px;
}

.low-stock {
    font-size: 18px;
    font-weight: 400;
    word-spacing: 7px;
    letter-spacing: 2px;
}

.alert-suggestion {
    color: #BE123C;
    font-weight: 600;
    font-size: 18px;

}

.alertContainer {
    background: linear-gradient(90deg, #FFF1F2 0%, #FFFBEB 50%, #EEF2FF 100%);
    padding: 20px;
    border-radius: 8px;
}

.low-stock-table th {
    color: #6B778C;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
}

.low-stock-table td {
    color: #000000;
    font-size: 14px;

}

.export-btn {
    /* border: 1px solid #E5E7EB; */
    background: #F3F4F6;
    color: #374151;
    padding: 4px 15px;
    display: flex;
    gap: 6px;
    
}
.export-btn span{
     font-size: 14px;
    font-weight: 400;
}
.export-btn-container {
    display: flex;
    gap: 10px
}

.stock-action-btn {
    background: #3B82F6;
    border: 1px solid #E5E7EB;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 400;
    padding: 5px 12px;


}


.alert-suggestion-container p {
    text-align: start;
    color: #374151;
    display: flex;
    gap: 5px;
}

.alert-suggestion-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.alert-suggestion-container p span {
    margin-left: 8px;
}

.send-mail-btn {
    background: #4338CA;
    border: 1px solid #E5E7EB;
    color: #ffffff;
    padding: 7px 18px;
}

.send-mail-btn span {
    font-size: 14px;
    font-weight: 400;
}

.alert-action {
    color: #4338CA !important;
    cursor: pointer;
    text-decoration: underline;
    margin-left: 10px;
    font-size: 12px;
    font-weight: 600;
}

.low-stock-table tbody td,
.low-stock-table thead tr {
    border-bottom: 1px solid #E5E7EB
}

.stockdata-dashboard thead.custom-head th {
    background: #EEF2FF !important;
    color: #4B5563;

}

table.stockdata-dashboard tbody tr:hover td {
    background-color: #EEF2FF !important;
    /* color: white !important; */
}



@media (max-width: 768px) {
   .dashboard-card{
  
    text-align: center;
   }

   .dashboard-card .div{
    justify-content:center;
   }

   .low-stock-table th ,.stockdata-dashboard th {
    font-size: 7px !important;
    letter-spacing: unset !important;
    font-weight: 400 !important;
   }

   .stockdata-dashboard td ,.low-stock-table td {
    font-size: 7px !important
   }

   .alertContainerMain{
    gap: 15px !important;
   }

   .mailcontainer{
    text-align: center;
   }

   .dashboard-product{
    font-size: 15px !important;
   }

   .export-btn-container {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.product-btn-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.main-heading{
    font-size: 23px;
}
.dashboard-p {
font-size: 16px !important;
}
}